:root {
	--black-color: #212121;
	--white-color: #fafafa;
	--grey-color: #dddddd;
	--shadow-color: rgba(221, 221, 221, 0.2);
	--container-background: rgba(250, 250, 250, 0.2);
	--container-shadow: rgba(190, 190, 190, 0.4);
	--backdrop-color: rgba(0, 0, 0, 0.75);
	--primary-color: #87cbb9;
	--secondary-color: #b9eddd;
	--success-color: #a2ff86;
	--error-color: #ff6d60;
}
